.toppage {
  border: 2px solid #73AD21;
  background-color: #92a8d1;
}
.toppage h1 {

}
.toppage h2 {

}
.toppage button {
  text-align: center;
  float: right;
  width: 6%;
}
.row1
{
  display: inline-block;
}
.pageHolder {
  border: 2px solid #73AD21;
}
.row1 img{
  border: 2px solid #73AD21;

  height: 60%;
  width: 60%;
  /*margin-left: 30%*/
}
.row1 p{
  float: left;
  height: 60%;
  width: 60%;
  /*margin-left: 30%;*/
  text-align:center;
}
.row1{
  float: left;
  height: 10%;
  width: 10%;
  margin-left: 10%;
  margin-top: 10%;
}
.newline {
  overflow: auto;
  width: 100%;
  text-align: center;
}

.newpage {
  border: 2px solid #73AD21;
}
.headerpic {
  width: 10%;
  height: 10%;
  float: left;
  background-color:#ad2153;;
}
footer {
  background-color: #A9A9A9;
  border: 2px solid #73AD21;
}
.container {
  position: relative;

}
.overlay {
  width: 100%
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255,0,0,0.2);
  position: absolute;
}
.overlay-text {
  padding-top: 18%;
}
.centered {
  text-align: center;
}
.photo{
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 992px) {
    .row1 {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
.toppage img{
    float: none;
    width: 100%;
  }
.toppage h1{
    float: none;
    width: 100%;
  }
.toppage h2{
    float: none;
    width: 100%;
  }
.row1  {
    float: none;
    width: 100%;
}

}





