body {
  border: 2px solid #73AD21;
}
.newpage {
  width: 100%;
  height: 100%;
}
.toppage {
  border: 1px solid #73AD21;
  background-color: #92a8d1;
}
.toppage h1 {

}
.toppage h2 {

}
.subheading{
  float: right;
}
.toppage button {
  text-align: center;
  float: right;
  width: 6%;
}
.pageHolder {
  width: 100%;
}
.imagesection img{
  height: 60%;
  width: 60%;
  margin-left: 17%;
  margin-top: 25px;
}
.clearfix{
  clear:both;
}
.imagesection p{
  width: 60%;
  margin-left: 17%;
  text-align:center;
}
.imagesection{
  float: left;
  width: 25%;
}
.information {
  overflow: auto;
  text-align: center;
  padding-left:15%;
  padding-right: 15%;

}
.headerpic {
  width: 10%;
  height: 10%;
  float: left;
  background-color:#ad2153;;
}
.container {
  position: relative;
}
.overlay {
  width: 100%
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255,0,0,0.2);
  position: absolute;
}
.overlay-text {
  padding-top: 18%;
  text-align: center;

}
.photo{
  width: 100%;
  height: 300px;
}
.footer {
  background-color: #A9A9A9;
  border: 1px solid #73AD21;

}
.home {
float: left;
margin-left:10%;
}

@media screen and (max-width: 992px) {
    .imagesection {
        width: 30%;
    }
    .home {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
  .toppage img{
      float: none;
      width: 100%;
    }
  .toppage h1{
      float: none;
      width: 100%;
    }
  .toppage h2{
      float: none;
      width: 100%;
    }
  .imagesection  {
      float: none;
      width: 100%;
  }
  .home{
      float: none;
      width: 100%;
  }
.toppage button{
      float: none;
      width: 100%;
    }
}





